@use 'position';

.container {
  background-color: var(--red);
}

%outside-curve {
  background-color: var(--red);
  content: '';
  height: 8px;
  width: 20px;
  position: absolute;
  bottom: 0;
}

.header {
  @include position.mobile();
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;

  a {
    color: white;
    text-decoration: none; 
    position: relative;
    padding: 0 4px;
    
    &.active {
      background-color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      color: var(--red);
      
      &::after {
        @extend %outside-curve;
        border-bottom-right-radius: 10px;
        box-shadow: 10px 0 0 white;
        right: 100%;
      }

      &::before {
        @extend %outside-curve;
        border-bottom-left-radius: 10px;
        box-shadow: -10px 0 0 white;
        left: 100%;
      }
    }
  }
}

.headerLogo,
.text,
.loggedUser {
  display: none;
}

.icon {
  font-size: 40px;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 100px;
}