@use 'loading';
@use 'position';
@use 'button';

.loginLoading {
  @include loading.loader($top: 180px);
}

.cartContainer {
  background-color: white;
  border-top: 2px solid var(--red);
  display: flex;
  align-items: center;
  height: 85px;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.cart {
  @include position.mobile();
  align-items: center;
  justify-content: space-between;

  p, b {
    font-size: 20px;
  }

  button {
    @include button.redAndWhite();
    border-radius: 100px;
    border-top-right-radius: 0;
    height: 50px;
    width: 50px;
    padding: 3px 0 0 3px;
  }

  .icon {
    font-size: 30px;
  }

  .buttonText {
    display: none;
  }
}

.productsContainer {
  @include position.mobile();
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.productCard {
  border-radius: 10px;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
  margin: 10px 7.5px 10px 7.5px;
  padding: 12px 0;
  text-align: center;
  width: 160px;

  .cardTop {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;

    h3 {
      font-size: 16px;
      margin-inline: 10px;
    }

    img {
      margin: 5px 0;
      width: min-content;
    }

    .price {
      border-bottom: 1px dashed gray;
      display: block;
      padding: 0 30px 2px;
    }
  }

  .cardBottom {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;

    input {
      border: 1px solid lightgray;
      border-left: none;
      border-radius: 0;
      border-right: none;
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 50px;
    }
  
    %shared-button {
      @include button.redAndWhite();
      font-size: 16px;
      font-weight: 700;
      height: 100%;
      margin: 0;
      padding: 0 15px;
    }

    .plus {
      @extend %shared-button;
      border-radius: 0 10px 10px 0;
    }

    .minus {
      @extend %shared-button;
      border-radius: 10px 0 0 10px;
    }

    [ type='number']::-webkit-inner-spin-button,
    [ type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    //for firefox
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}