.container {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container input {
  border: 1px solid gray;
  border-radius: 100px;
  margin-bottom: 10px;
  padding: 10px;
  width: auto;
}
.container label {
  margin: 5px 0;
}

.noAccountButton, .registerButton, .loginButton {
  border-radius: 100px;
  font-weight: 700;
  padding: 10px;
  transition: 0.2s;
}
.noAccountButton:enabled, .registerButton:enabled, .loginButton:enabled {
  cursor: pointer;
}

.registerButton, .loginButton {
  background-color: var(--red);
  border: none;
  color: white;
}
.registerButton:disabled, .loginButton:disabled {
  background-color: rgb(255, 176, 176);
}
.registerButton:hover:not([disabled]), .loginButton:hover:not([disabled]) {
  filter: grayscale(0.3);
}

.loginButton {
  margin-bottom: 20px;
}

.registerButton {
  margin-top: 20px;
}

.noAccountButton {
  background-color: white;
  border: 1px solid white;
  color: rgb(85, 85, 85);
  margin-top: 15px;
}
.noAccountButton:hover {
  border: 1px solid gray;
  color: black;
}

.loginLoading {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
}