.checkout {
  margin-inline: 60px;
}

.checkout h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout-resumo {
  margin-bottom: 50px;
}

.checkout-table {
  border-collapse: collapse;
}

.checkout-table th, .checkout-table td {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 8px 20px;
  text-align: center;
}

.checkout-table th {
  background-color: #f2f2f2;
}

.checkout-table tr {
  transition: 0.2s;
}

.checkout-table tr:nth-child( even ) {
  background-color: #f9f9f9;
}

.checkout-table tr:hover {
  background-color: #fdd;
}

.checkout-table .descricao {
  text-align: left;
}

.checkout-table button {
  margin: 0;
}

.checkout-resumo p, b {
  font-size: 18px;
  margin-top: 20px;
}

.checkout-form {
  border-radius: 10px;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  width: 460px;
}

.checkout-form label {
  align-items: center;
  display: flex;
  font-size: 16px;
  margin-bottom: 15px;
}

.checkout-form select {
  border-radius: 10px;
}

.checkout-form input, .checkout-form select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  margin: 5px;
  padding: 4px;
  width: 100%;
}

.checkout-form select:hover {
  border-color: #999;
}

.checkout-form select:focus {
  border-color: black;
}

.checkout-form input {
  border-radius: 8px;
  padding: 4px 8px;
  text-align: left;
}

.checkout-form button {
  margin: 0;
}

.checkout-form [ type = 'number' ]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.checkout-form [ type = 'number' ]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
