.details {
  margin-inline: 60px;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.details-sale {
  border-left: 1px dashed black;
  padding-left: 20px;
}

.details-sale p {
  font-size: 16px;
  margin-bottom: 8px;
}

.details-sale b {
  font-size: 15px;
}

.details-status {
  align-items: baseline;
  display: flex;
}

.details-status button {
  border-radius: 5px;
  margin: 0 50px;
  padding: 3px 5px;
}

.details-status .dispatched-button {
  margin: 0;
}

.details-table {
  margin-top: 50px;
}

.details-total {
  font-size: 18px;
  margin-top: 20px;
}
