:root {
  --red: rgb(224, 0, 0);
  --red-opacity: rgba(224, 0, 0, 0.44);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
}

html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
}
